@model RedWizards.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<div class="containers">
    <div class="left-container">
        <div id="map"></div>
    </div>
    <div class="right-container">
        <h2 class=titel>Contact</h2>
        <div>
            <div>
                <p class=midtekst>Theaterschool:</p>
                <p class=midtekst>Pieter de Hoochweg 222<br />3024 BJ Rotterdam<br />T +31 6 12233445<br />
            </div>
            <div>
                <p class=midtekst>Theater:</p>
                <p class=midtekst>Benthemplein 13<br />3032 CC Rotterdam<br />T +31 6 12233445<br />E info@redwizards.nl</p>
            </div>
        </div>
        <a class="button" href="#content">Stuur een bericht</a>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>

<h1 class="bigtitle" id="message">Stuur een bericht naar ons!</h1>
<div class="contact">
    <form method="post" class="form-style">
        <ul>
            <li>
                <input type="text" name="name" class="field-style field-split align-left" placeholder="Naam" />
                <input type="email" name="email" class="field-style field-split align-right" placeholder="Email" />
            </li>
            <li>
                <input type="text" name="phone" class="field-style field-split align-left" placeholder="Telefoon" />
                <input type="text" name="zipcode" class="field-style field-split align-right" placeholder="Postcode en Plaats" />
            </li>
            <li>
                <input type="text" name="subject" class="field-style field-full align-none" placeholder="Onderwerp" /> 
            </li>
            <li>
                <textarea name="message" class="field-style" placeholder="Bericht"></textarea>
            </li>
            <li>
                <input id="confirmButton" type="submit" value="Verstuur" />
            </li>
        </ul>
    </form>
</div>


@if (Model != null)
{
    @if (Model.Name == null || Model.Email == null || Model.Subject == null || Model.Message == null)
    {
        <div id="myModal" class="popupModel">
            <div class="popupModal-content">
                <span class="closeModel">&times;</span>
                <p>Je bent vergeten iets in te vullen!</p>
                <ul>
                    @if (Model.Name == null)
                    {
                        <li>
                            @Html.ValidationMessageFor(m => m.Name)
                        </li>
                    }
                    @if (Model.Email == null)
                    {
                        <li>
                            @Html.ValidationMessageFor(m => m.Email)
                        </li>
                    }
                    @if (Model.Subject == null)
                    {
                        <li>
                            @Html.ValidationMessageFor(m => m.Subject)
                        </li>
                    }
                    @if (Model.Message == null)
                    {
                        <li>
                            @Html.ValidationMessageFor(m => m.Message)
                        </li>
                    }
                </ul>            
            </div>
        </div>
    }
    else
    {
        <div id="myModal" class="popupModel">
            <div class="popupModal-content">
                <span class="closeModel">&times;</span>
                <p>Dankjewel <b>@Model.Name</b> voor je bericht!</p>
                <p>We zullen zo snel mogelijk contact met je opnemen.</p>
            </div>
        </div>
    }
}