@using RedWizards.Database
@model List<Voorstelling>
@{
    ViewData["Title"] = "Home";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/icon.jpg alt=RWLogo/>
    </div>
    <div class="right-container">

        @if (@ViewData["user"] == null) { <h2 class=titel>Welkom</h2> } 
        else { <h2 class=titel>Welkom, @ViewData["user"]</h2> }

        <p class=midtekst>Bij red wizards houden wij er van om magie te aan bezoekers met een kleine prijs. Kom een van onze voorstellingen bekijken door naar onder te scrollen of te klikken op de knop hier onder!</p>
        <a class="button" href="#content">Voorstellingen</a>
        <div class="socialmedia">
            <a href="https://www.facebook.com"><img class="socialimage" src="~/img/icons/footerFacebook.png"></a>
            <a href="https://www.instagram.com"><img class="socialimage" src="~/img/icons/footerInstagram.png"></a>
            <a href="https://www.tiktok.com"><img class="socialimage" src="~/img/icons/footerTiktok.png"></a>
            <a href="https://www.twitter.com/happpy24"><img class="socialimage" src="~/img/icons/footerTwitter.png"></a>
            <a href="https://www.youtube.com/watch?v=t1JYx8cuZ8g"><img class="socialimage" src="~/img/icons/footerYoutube.png"></a>
        </div>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>

<h1 class="bigtitle" id="voorstellingen">Voorstellingen</h1>
<div class="voorstellingenplek">
    @foreach (Voorstelling v in Model)
    {
        <div class="voorstelling">
            <table class="voorstelling-table"> 
                <tr>
                    <th class="voorstelling-title">@v.Name</th>
                    <th class="voorstelling-age">@v.Age+</th>
                </tr>
                <tr>
                    <td class="voorstelling-content" colspan="2">@v.Desc_Short</td>
                </tr>
                <tr>
                    <td colspan="2"><a class="ticketbutton" href="/voorstelling/@v.Id">Meer info</a></td>
                    <td class="date">@v.Datum</td>
                </tr>
            </table>
            <img class="voorstelling-image" src="@v.Img"/>
        </div>
    }
</div>