@using RedWizards.Database
@model List<Voorstelling>
@{
    ViewData["Title"] = "Home";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/icon.jpg alt=RWLogo/>
    </div>
    <div class="right-container">
        <h2 class=titel>Welkom</h2>
        <p class=midtekst>Bij red wizards houden wij er van om magie te aan bezoekers met een kleine prijs. Kom een van onze voorstellingen bekijken door naar onder te scrollen of te klikken op de knop hier onder!</p>
        <a class="button" href="#content">Voorstellingen</a>
        <div class="socialmedia">
            <a href="https://www.facebook.com"><img class="socialimage" src="~/img/icons/footerFacebook.png"></a>
            <a href="https://www.instagram.com"><img class="socialimage" src="~/img/icons/footerInstagram.png"></a>
            <a href="https://www.tiktok.com"><img class="socialimage" src="~/img/icons/footerTiktok.png"></a>
            <a href="https://www.twitter.com/happpy24"><img class="socialimage" src="~/img/icons/footerTwitter.png"></a>
            <a href="https://www.youtube.com/watch?v=t1JYx8cuZ8g"><img class="socialimage" src="~/img/icons/footerYoutube.png"></a>
        </div>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>

<h1 class="bigtitle" id="voorstellingen">Voorstellingen</h1>
<div class="voorstellingenplek">
    <div class="voorstelling">
        <table class="voorstelling-table"> 
            <tr>
                <th class="voorstelling-title">Knuffel van de Sint</th>
                <th class="voorstelling-age">3+</th>
            </tr>
            <tr>
                <td class="voorstelling-content" colspan="2">Trek lekker je pyjama of je onesie aan, want deze keer wordt de Sint Sing Along een heuse pyjama party!</td>
            </tr>
            <tr>
                <td colspan="2"><a class="ticketbutton" href="/voorstelling/1">Meer info</a></td>
                <td class="date">2022-12-05</td>
            </tr>
        </table>
        <img class="voorstelling-image" src="http://localhost:41493/img/voorstellingen/sintsingalong.png"/>
    </div>

    <div class="voorstelling">
        <table class="voorstelling-table"> 
            <tr>
                <th class="voorstelling-title">Knuffel van de Sint</th>
                <th class="voorstelling-age">3+</th>
            </tr>
            <tr>
                <td class="voorstelling-content" colspan="2">Trek lekker je pyjama of je onesie aan, want deze keer wordt de Sint Sing Along een heuse pyjama party!</td>
            </tr>
            <tr>
                <td colspan="2"><a class="ticketbutton" href="/voorstelling/1">Meer info</a></td>
                <td class="date">2022-12-05</td>
            </tr>
        </table>
        <img class="voorstelling-image" src="http://localhost:41493/img/voorstellingen/sintsingalong.png"/>
    </div>

    <div class="voorstelling">
        <table class="voorstelling-table"> 
            <tr>
                <th class="voorstelling-title">Knuffel van de Sint</th>
                <th class="voorstelling-age">3+</th>
            </tr>
            <tr>
                <td class="voorstelling-content" colspan="2">Trek lekker je pyjama of je onesie aan, want deze keer wordt de Sint Sing Along een heuse pyjama party!</td>
            </tr>
            <tr>
                <td colspan="2"><a class="ticketbutton" href="/voorstelling/1">Meer info</a></td>
                <td class="date">2022-12-05</td>
            </tr>
        </table>
        <img class="voorstelling-image" src="http://localhost:41493/img/voorstellingen/sintsingalong.png"/>
    </div>

    <div class="voorstelling">
        <table class="voorstelling-table"> 
            <tr>
                <th class="voorstelling-title">Knuffel van de Sint</th>
                <th class="voorstelling-age">3+</th>
            </tr>
            <tr>
                <td class="voorstelling-content" colspan="2">Trek lekker je pyjama of je onesie aan, want deze keer wordt de Sint Sing Along een heuse pyjama party!</td>
            </tr>
            <tr>
                <td colspan="2"><a class="ticketbutton" href="/voorstelling/1">Meer info</a></td>
                <td class="date">2022-12-05</td>
            </tr>
        </table>
        <img class="voorstelling-image" src="http://localhost:41493/img/voorstellingen/sintsingalong.png"/>
    </div>

    <div class="voorstelling">
        <table class="voorstelling-table"> 
            <tr>
                <th class="voorstelling-title">Knuffel van de Sint</th>
                <th class="voorstelling-age">3+</th>
            </tr>
            <tr>
                <td class="voorstelling-content" colspan="2">Trek lekker je pyjama of je onesie aan, want deze keer wordt de Sint Sing Along een heuse pyjama party!</td>
            </tr>
            <tr>
                <td colspan="2"><a class="ticketbutton" href="/voorstelling/1">Meer info</a></td>
                <td class="date">2022-12-05</td>
            </tr>
        </table>
        <img class="voorstelling-image" src="http://localhost:41493/img/voorstellingen/sintsingalong.png"/>
    </div>
    @*
    <div class="voorstelling">
        <div class="titleage">
            <h1>Knuffel van de Sint</h1>
            <h4>3+</h4>
        </div>
        <p class="voorstellingcontent">Trek lekker je pyjama of je onesie aan, want deze keer wordt de Sint Sing Along een heuse pyjama party!</p>
        <div class="bottomvoorstelling">
            <a class="ticketbutton" href="#">Meer info</a>
            <p class="date">2022-12-05</p>
        </div>
        <img class="voorstellingimage" src="http://localhost:41493/img/voorstellingen/sintsingalong.png"/>
    </div>
    *@

    @*@foreach (Voorstelling v in Model)
    {
        <div class="voorstelling">
            <div class="titleage">
                <h1>@v.Name</h1>
                <h4>@v.Age</h4>
            </div>
            <p class="voorstellingcontent">@v.Desc_Short</p>
            <div class="bottomvoorstelling">
                <a class="ticketbutton" href="#">Meer info</a>
                <p class="date">@v.Date</p>
                <img class="voorstellingimage" src="@v.Img"/>
            </div>
        </div>
    }*@
</div>