@using RedWizards.Database
@model Voorstelling
@{
    ViewData["Title"] = "Voorstelling";
}
@if (Model != null)
{
<div class="containers">
    <div class="left-container">  
        <img class="containerCoverImg" src=@Model.Img alt=@Model.Name/>
    </div>
    <div class="right-container">
        <table class="voorstellingPageTable"> 
            <tr>
                <th class="voorstelling-title">@Model.Name</th>
                <th class="voorstelling-age">@Model.Age+</th>
            </tr>
            <tr>
                <td class="voorstelling-content" colspan="2">@Model.Desc_Long</td>
            </tr>
            <tr>
                <td colspan="2"><a class="ticketbutton" href="#content">Tickets</a></td>
            </tr>
        </table>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>

<h1 class="bigtitle">@Model.Name</h1>

<p class="podiumTekst">Deze voorstelling is van @Model.Starting_Time tot @Model.Ending_Time op @Model.Datum</p>
<p class="podiumTekst">Wees er snel bij! Er zijn nog maar @Model.Availability plekken over!</p>

<div>
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <p>Beschikbare plaatsen</p>
        </li>
        <li>
            <div class="seat selected"></div>
            <p>Gekozen plaatsen</p>
        </li>
        <li>
            <div class="seat occupied"></div>
            <p>Bezette plaatsen</p>
        </li>
        <li>
            <div class="movie-container">
                <select id="movie">
                <option value="4,99">Leeftijd 3/9 jaar (€4,99)</option>
                <option value="7,99">Leeftijd 10/15 jaar (€7,99)</option>
                <option value="11,99">Leeftijd 16+ jaar (€11,99)</option>
                </select>
            </div>
        </li>
    </ul>


    <div class="container">
        <div class="rij">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="rij">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="rij">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            
        </div>
    </div>

    <img src="~/img/random/podium.png" class="podium" />
    <p class="podiumTekst">Podium</p>
    <div class="paying">
        <p class="payingtext">Je hebt <span id="count">0</span> stoelen geselecteerd voor een prijs van <span id="total">0</span> euro</p>
        <a class=ticketbutton href="/winkelwagen">Ga door naar het betalen</a>
    </div>
    

    <script src="~/js/script.js"></script>
</div>

<script src="~/js/script.js"></script>

} else {
    <meta http-equiv='refresh' content='0; URL=https://redwizards.azurewebsites.net/404'>
}